<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="banner-title">Join with us
                    </h1>
                    <p class="lead para-about-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud 
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./assets/images/slider_image.png" class="img-fluid float-right" />
                </div>
            </div>


        </div>
    </section>
    <div class="row bg-light">
        <div class="col-sm-10 mx-auto">
            <div class="row text-center mt-n5">

                <div class="col-sm pb-2">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <div class="col-md-5 float-left"> 
                                <i class="fa fa-user icon searchicon"></i>
                                <input class="input-field" type="text" placeholder="Job title or keyword" name="usrnm">
                                |
                            </div>
                            <div class="col-md-5 float-left"> 
                                <i class="fa fa-map-marker icon searchicon"></i>
                                <input class="input-field" type="text" placeholder="Job title or keyword" name="usrnm">

                            </div>
                            <div class="col-md-2 float-left"> 
                                <button type="button" class="btn btn-primary careerbtn">Find it Now</button>  
                            </div>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div id="accordion" class="accordion">
                            <div class="card mb-0">
                                <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                    <a class="card-title"> Latest Posting by Categories </a>
                                </div>
                                <div id="collapseOne" class="card-body collapse" data-parent="#accordion">

                                    <h2 class="team-name-title-tab">Grade 1 - 5 Teacher</h2>
                                    <ul>
                                        <li>
                                            <p class="job-title">Physics, Chemistry</p>
                                            <p class="job-title-sub">Any Country</p>
                                        </li>
                                        <li>
                                            <p class="job-title">Biology, Health Science</p>
                                            <p class="job-title-sub">Abuja, Nigeria</p>
                                        </li>
                                        <li>
                                            <p class="job-title">History, Geography</p>
                                            <p class="job-title-sub">UK, Nigeria, USA, India, France</p>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary careerbtn">Apply Here</button>  
                                        </li>
                                    </ul>

                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <a class="card-title"> Grade 7 - 12 </a>
                                </div>
                                <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                                    <h2 class="team-name-title-tab">Grade 7 - 12 Teacher</h2>
                                    <ul>
                                        <li>
                                            <p class="job-title">Physics, Chemistry</p>
                                            <p class="job-title-sub">Any Country</p>
                                        </li>
                                        <li>
                                            <p class="job-title">Biology, Health Science</p>
                                            <p class="job-title-sub">Abuja, Nigeria</p>
                                        </li>
                                        <li>
                                            <p class="job-title">History, Geography</p>
                                            <p class="job-title-sub">UK, Nigeria, USA, India, France</p>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary careerbtn">Apply Here</button>  
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <a class="card-title"> Adminstrative </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">

                                    <h2 class="team-name-title-tab">Adminstrative</h2>
                                    <ul>
                                        <li>
                                            <p class="job-title">Physics, Chemistry</p>
                                            <p class="job-title-sub">Any Country</p>
                                        </li>
                                        <li>
                                            <p class="job-title">Biology, Health Science</p>
                                            <p class="job-title-sub">Abuja, Nigeria</p>
                                        </li>
                                        <li>
                                            <p class="job-title">History, Geography</p>
                                            <p class="job-title-sub">UK, Nigeria, USA, India, France</p>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary careerbtn">Apply Here</button>  
                                        </li>
                                    </ul>

                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    <a class="card-title"> Manageral </a>
                                </div>
                                <div id="collapsefour" class="collapse" data-parent="#accordion">

                                    <h2 class="team-name-title-tab">Manageral</h2>
                                    <ul>
                                        <li>
                                            <p class="job-title">Physics, Chemistry</p>
                                            <p class="job-title-sub">Any Country</p>
                                        </li>
                                        <li>
                                            <p class="job-title">Biology, Health Science</p>
                                            <p class="job-title-sub">Abuja, Nigeria</p>
                                        </li>
                                        <li>
                                            <p class="job-title">History, Geography</p>
                                            <p class="job-title-sub">UK, Nigeria, USA, India, France</p>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary careerbtn">Apply Here</button>  
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    <a class="card-title"> Others </a>
                                </div>
                                <div id="collapsefive" class="collapse" data-parent="#accordion">
                                    <h2 class="team-name-title-tab">Others</h2>
                                    <ul>
                                        <li>
                                            <p class="job-title">Physics, Chemistry</p>
                                            <p class="job-title-sub">Any Country</p>
                                        </li>
                                        <li>
                                            <p class="job-title">Biology, Health Science</p>
                                            <p class="job-title-sub">Abuja, Nigeria</p>
                                        </li>
                                        <li>
                                            <p class="job-title">History, Geography</p>
                                            <p class="job-title-sub">UK, Nigeria, USA, India, France</p>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary careerbtn">Apply Here</button>  
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



   



    <!-- Section: Testimonials v.2 -->

    <!-- Section: Testimonials v.2 -->

</main>