<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarsExampleDefault" 
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/about" style="padding-top: 12px;">About</a>
                  
                </li>
                 <li class="nav-item active">
                    <a class="nav-link" routerLink="/careers" style="padding-top: 12px;">Careers</a>
                  
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Study Material
                    <i class="fa fa-angle-down fa-2x"></i> 
                </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Menu 1</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses
                    <i class="fa fa-angle-down fa-2x"></i> 
                </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Class 6th</a>
                        <a class="dropdown-item" href="#">Class 7th</a>
                        <a class="dropdown-item" href="#">Class 8th</a>
                        <a class="dropdown-item" href="#">Class 9th</a>
                        <a class="dropdown-item" href="#">Class 10th</a>
                        <a class="dropdown-item" href="#">Class 11th</a>
                        <a class="dropdown-item" href="#">Class 12th</a>
                        <a class="dropdown-item" href="#">Professional Courses</a>
                        <a class="dropdown-item" href="#">Micro Courses</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More
                    <i class="fa fa-angle-down fa-2x"></i> 
                </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Menu 1</a>
                    </div>
                </li>
            </ul>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
                <a class="nav-link" href="#">Login</a>
                <a class="btn btn-primary" href="#">Sign Up</a>
              </nav>
           
         
        </div>
    </nav>
  </header>