<footer class="text-muted" style="padding: 46px 4px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="mb-2" src="./assets/images/logo.png" alt="" width="166">
        <small class="d-block text-muted footer-text-m">Center for Home and online<br />
          Learning</small>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#"><img class="mb-2" src="./assets/images/f.png" width="40"></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><img class="mb-2" src="./assets/images/p.png" width="40"></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><img class="mb-2" src="./assets/images/i.png" width="40"></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><img class="mb-2" src="./assets/images/t.png" width="40"></a>
            </li>
          </ul>
        <small class="d-block mb-3 text-muted">&copy; 2020 CHOL. All rights Reserved.</small>
      </div>
      <div class="col-md-2">
        <h5 class="footer-header">Courses</h5>
        <ul class="list-unstyled text-small footer-list ">
          <li><a class="text-muted" href="#">Primary</a></li>
          <li><a class="text-muted" href="#">Lower Secondary </a></li>
          <li><a class="text-muted" href="#">IGCSE</a></li>
          <li><a class="text-muted" href="#">A level</a></li>
        </ul>
      </div>
      <div class="col-md-2">
          <a href="../product/index.html"></a>
        <h5 class="footer-header">More</h5>
        <ul class="list-unstyled text-small footer-list">
          <li><a class="text-muted" href="#">Fees</a></li>
          <li><a class="text-muted" href="#">How It Works</a></li>
          <li><a class="text-muted" href="/career">Career</a></li>
          <li><a class="text-muted" href="#">FAQ</a></li>
          
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-header">About</h5>
        <ul class="list-unstyled text-small footer-list">
          <li><a class="text-muted" href="#">Why Chol?</a></li>
          <li><a class="text-muted" href="#">Testimonials</a></li>
          <li><a class="text-muted" href="#">News</a></li>
          <li><a class="text-muted" href="#">Terms and Conditions</a></li>
          <li><a class="text-muted" href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script>
$("#myCarousel").carousel();
</script>