<main role="main">

    <section class="jumbotron-about text-center">

        <div class="container-fluid">
            <div class="row m-0">
                <div class="col-md-6 p-0">
                    <div class="col-md-12">
                         <div class="col-md-2"></div>
                          <div class="col-md-12" style="padding-left: 79px;">
                            <h2 class="banner-title-about-top">NEXT LEVEL EDUCATION</h2>
                            <h1 class="banner-title-about">Building the next world’s<br />
                                educational system.
                            </h1>
                            <p class="lead para-about-text">
                                Give your team the benefits of a technical education — all
                                in 
                                a scalable plan that works for your organization. Discounts
                                are available for high volume purchases. Request a 
                                personalized quote today.
                            </p>
                            </div>
                    </div>
                    

                    <img src="./assets/images/slider-client.png" class="img-fluid float-right" style="margin-top: 69px;" />
            </div>
            <div class="col-md-1"></div>

                <div class="col-md-5 p-0 pt-3" >
                    <img src="./assets/images/undraw_real_time_collaboration_c62i.svg" class="img-fluid float-right" />
                </div>
            </div>

        </div>

    </section>


    <div class="album bg-white" style="padding-top:100px;padding-bottom:100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="./assets/images/about-img2.png" class="img-fluid float-right" />
                </div>
                <div class="col-md-6">

                    <h2  class="about-heading padding-top">
                        Our Story
                    </h2>
                    <p class="lead para-about">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris  nisi ut aliquip ex ea commodo consequat. 
                    </p>    

                    <h2  class="about-heading">
                        Academic
                    </h2>
                    <p class="lead para-about">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris  nisi ut aliquip ex ea commodo consequat. 
                    </p>    


                </div>

            </div>
        </div>
    </div>


    <div class="album py-5 bg-light">
        <div class="container-fluid">
            <div class=""> 
                <div class="col-md-12">
                    <h2 class="banner-title-about-top text-center">Heck Yeah!</h2>
                    <h2 class="mt-4 mb-4 thumb-title text-center">We made easy for just anyone</h2>
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="./assets/images/thum1.png"  />
                        <div class="centered1">Professional Course</div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="./assets/images/thum2.png" />
                        <div class="centered2">Full time Course</div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="./assets/images/thum3.png" />
                        <div class="centered3">Micro Course</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-4 mb-4 thumb-title text-center">Meet the Team</h2>
                </div>
                
            </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                 <img src="./assets/images/team1.png" class="team-img" />
                <h2 class="team-name-title">George Clooney</h2>
                <p>Co-Founder, CEO</p>
                <p><a href="#" role="button"><img src="./assets/images/linkedin.svg" width="40" /></a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
               <img src="./assets/images/team2.png" class="team-img"  />
                <h2 class="team-name-title">Matt Damon</h2>
              
               <p>Co-Founder, CFO</p>
                <p><a href="#" role="button"><img src="./assets/images/linkedin.svg" width="40" /></a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
              <img src="./assets/images/team3.png" class="team-img" />
                <h2 class="team-name-title">Gwyneth Paltrow</h2>
              
               <p>Head of Academics</p>
                <p><a href="#" role="button"><img src="./assets/images/linkedin.svg" width="40" /></a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
</div>


  <div class="container marketing" style="padding-bottom:50px;">

       
        <div class="row">
            <div class="col-lg-4 text-center">
                 <img src="./assets/images/team4.png" class="team-img" />
                <h2 class="team-name-title">Robert Downey Jr.</h2>
                <p>Head of Operations</p>
                <p><a href="#" role="button"><img src="./assets/images/linkedin.svg" width="40" /></a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
               <img src="./assets/images/team5.png" class="team-img" />
                <h2 class="team-name-title">Anne Hathway</h2>
              
               <p>COO</p>
                <p><a href="#" role="button"><img src="./assets/images/linkedin.svg" width="40" /></a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
              <img src="./assets/images/team6.png" class="team-img" class="team-img" />
                <h2 class="team-name-title">Chadwick Boseman</h2>
              
               <p>Head of Product</p>
                <p><a href="#" role="button"><img src="./assets/images/linkedin.svg" width="40" /></a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
</div>
</main>