<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="banner-title">Center for home and online<br />
                        Learning</h1>
                    <p class="lead para-text">
                        Professional | Micro | Full time<br />
                        from Grade 6 to Grade 12
                    </p>
                    <p class="link-button">
                        <a href="#" >Learn More <i class="fa fa-arrow-right icon-color"></i></a>
                    </p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div>
                        <img src="./assets/images/undraw.svg" class="img-fluid float-right" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>     
        </div> 
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="./assets/images/thum1.png" />
                        <div class="centered1">Professional Course</div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="./assets/images/thum2.png" />
                        <div class="centered2">Full time Course</div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="./assets/images/thum3.png" />
                        <div class="centered3">Micro Course</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="album bg-light">
        <hr class="style1">
    </div>
    <div class="album bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2 class="mt-4 mb-4 thumb-title">Students are choosing</h2>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-primary mt-4 mb-4 float-right">See All Courses</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="./assets/images/card1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Analyze data with Python</h5>
                                <p class="card-text">Learn how to analyze and visualize data
                                    using python.</p>
                                <a href="#" class="btn btn-link price">$10</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="./assets/images/card2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Analyze data with SQL</h5>
                                <p class="card-text">
                                    Master SQL queries and work with 
                                    multiple datasets so you can analyze..
                                </p>
                                <a href="#" class="btn btn-link price">$20</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="./assets/images/card3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Analyze Financial data with…</h5>
                                <p class="card-text">
                                    Learn how to process, analyze and 
                                    visualize financial data.</p>
                                <a href="#" class="btn btn-link price">$10</a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-md-12 text-center p-3">
                    <div class="btn-group" role = "group" aria-label = "...">
                        <button type  = "button" class   = "btn btn-primary"><i _ngcontent-ocq-c16="" class="fa fa-arrow-left icon-color-white"></i></button>
                        <button type  = "button" class   = "btn btn-primary"><i _ngcontent-ocq-c16="" class="fa fa-arrow-right icon-color-white"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="album bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2 class="mt-4 mb-4 thumb-title">Recommended Courses</h2>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-primary mt-4 mb-4 float-right">See All Courses</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="./assets/images/card4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Build Chatbots with Python.</h5>
                                <p class="card-text">Go from being a complete Python begginer
                                    to creating to creating chatbots.</p>
                                <a href="#" class="btn btn-link price">$10</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="./assets/images/card5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Create Front-End App with React</h5>
                                <p class="card-text">
                                    Learn to build front-end web apps with
                                    Javascript and React.
                                </p>
                                <a href="#" class="btn btn-link price">$20</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="./assets/images/card6.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Learn how to build Websites</h5>
                                <p class="card-text">
                                    Learn basics of web development to build 
                                    your own website.</p>
                                <a href="#" class="btn btn-link price">$10</a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-md-12 text-center p-3">
                    <div class="btn-group" role = "group" aria-label = "...">
                        <button type  = "button" class   = "btn btn-primary"><i _ngcontent-ocq-c16="" class="fa fa-arrow-left icon-color-white"></i></button>
                        <button type  = "button" class   = "btn btn-primary"><i _ngcontent-ocq-c16="" class="fa fa-arrow-right icon-color-white"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="album bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-content">
                        <h2  class="featurette-heading">
                            Helping students learn<br />
                            everyday!
                        </h2>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, <br />
                            consectetur adipiscing elit, sed do  <br />
                            eiusmod tempor incididunt ut</p>    
                        <p>
                            <button type="button" class="btn btn-outline-primary mt-4 mb-4 button-style-1">Start Learning</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="./assets/images/thumb5.jpg" class="img-fluid float-right" />
                </div>
            </div>
        </div>
    </div>

    <div class="album bg-thick">
        <div class="container">
          <div class="count-learning">
            <div class="row">
                <div class="col-md-3 text-center">
                        <h2  class="count-heading">
                            75M+
                        </h2>
                        <p class="count-title">
                          Students Learning
                          </p>    
                </div>
                <div class="col-md-3 text-center">
                   
                        <h2  class="count-heading">
                            347+
                        </h2>
                        <p class="count-title">
                          Popular Courses
                          </p>    
                   
                </div>
                <div class="col-md-3 text-center">
                    
                        <h2  class="count-heading">
                            4987+
                        </h2>
                        <p class="count-title">
                          Active Courses
                          </p>    
                   
                </div>
                <div class="col-md-3 text-center">
                   
                        <h2  class="count-heading">
                            887+
                        </h2>
                        <p class="count-title">
                          Free Courses
                          </p>    
                   
                </div>
              
            </div>
             </div>
        </div>
    </div>


<div class="album bg-light">
    <div class="container">
         <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-4 mb-4 thumb-title text-center">Students are choosing</h2>
                </div>
                
            </div>
        <div class="card-deck text-center" style="padding: 0 93px;">
            <div class="card mb-4 bg-none">
                <img src="./assets/images/grade1.png" class="card-img-top" alt="...">
            </div>
            <div class="card mb-4 bg-none">
                <img src="./assets/images/grade2.png" class="card-img-top" alt="...">
            </div>
            <div class="card mb-4 bg-none">
                <img src="./assets/images/grade3.png" class="card-img-top" alt="...">
            </div>
        </div>
</div>

</div>


 <div class="album bg-light bgimage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class=" thumb-title text-center headmargin">What our Students & Parents sharing their
<br />Experience</h2>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6">
                    <img src="./assets/images/thumb4.jpg" class="img-fluid float-right" />
                </div>
            </div>
        </div>
    </div>


    
</main>